<b><div> With this application you will never forget anything. The magic of this application is it's built in reminder functions, both in the fact that a user can send a reminder message at any time to whoever has borrowed from them and also that a user can update the system and if there is a loan due within the next two days then a reminder message will also be generated.
</div></b>
<br><center><div>
There are 5 user functions of the home page - 'New Loan', 'Update',
'Help', 'Got it back!', and 'Send reminder message'
</div></center>
<div>
<b>New Loan</b> - This will generate a new loan, it is important to fill out every input, the only optional input is a picture. If you do not fill out every input correctly then a loan will not generate and you will be prompted back to the same page. If you want to get out of the 'new loan' page you can click cancel at the bottom to return to the home page.
</div>
<div>
<b>Update </b> - this will run a test to see, based on the date you need the item back by, if any of the items are due in the next 2 days; if so it will generate a reminder message (same as in 'Send reminder message') to whoever borrowed from you.
</div>
<div>
<b>Help</b> - that is this page
</div>
<div>
<b>Got it back </b>- this will delete your loan and clear up some space for you
</div>
<div>
<b>Send reminder message</b> - this will send a reminder message to whoever you loaned your item to, addressed to them, with the name of the item in the body of the message.
</div></br>
